<p id="notice"><%= notice %></p>

<h1>Lista de bugs</h1>

<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Solucionado</th>
      <th>Solução</th>
      <th>Projeto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td><%= bug.descricao %></td>
        <td><%= bug.solucionado %></td>
        <td><%= bug.solucao %></td>
        <td><%= bug.projeto.nome %></td>
        <td><%= link_to 'Mostrar', bug %></td>
        <td><%= link_to 'Solucionar', edit_bug_path(bug) %></td>
        <td><%= link_to 'Deletar', bug, method: :delete, data: { confirm: 'Deseja deletar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar bug', new_bug_path %>
