<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @bug.descricao %>
</p>

<p>
  <strong>Solucionado:</strong>
  <%= @bug.solucionado %>
</p>

<p>
  <strong>Solucao:</strong>
  <%= @bug.solucao %>
</p>

<p>
  <strong>Projeto:</strong>
  <%= @bug.projeto.nome %>
</p>

<%= link_to 'Solucionar', edit_bug_path(@bug) %> |
<%= link_to 'Voltar', bugs_path %>
